*{
    font-family: 'Abril Fatface', cursive;
    font-family: 'Coustard', serif;
    font-family: 'Oleo Script Swash Caps', cursive;
    font-family: 'Press Start 2P', cursive;
    
}


body {
    margin: 0;
    padding: 0;
    background-color: rgb(252, 143, 81);
    
}

.background {
    z-index: 1;
    /*margin: 0 0 0 5%;*/
}

h1 {
    font-size: 65px;
    color:aqua;
    -webkit-text-stroke: 1px rgb(234, 89, 250);
}

/*navbar starts*/
/*a {
    background-color: rgba(252, 0, 172, 0);
    padding: 10px;
    font-size: 15px;
}

.navbar ul li:hover a {
    background-color: rgb(252, 0, 172);
    border-radius: 20px;
    padding: 10px;
}

ul li a{
    text-decoration: none;
    color: rgb(134, 232, 216);

    transition: all 0.3s;
}

.navbar > ul > li {
    display: inline-block;
}


ul {
    list-style-type: none;
    background-color: rgb(176, 99, 224);
    padding: 16px;
    margin: 0 0 10px 0;
}

.navbar ul ul {
    position:absolute;
    padding: 0;
    min-width: 160px;
    display: none;
    top: 5%;
    left:7%;
}

.navbar ul li:hover > ul {
    display:block;
}*/


.navbar {
    /*background:rgb(111, 5, 249);*/
    background: rgb(144, 9, 228);
}

.navbar:after:after {
    content: '';
    clear:both;
    display: block;
}

.navbar ul {
    list-style: none;
    margin: 0 0 10px 0;
    position: relative;
}

.navbar > ul >li {
    display: inline-block;
    position:relative;
}

.navbar ul li a {
    text-decoration: none;
    color: rgb(134, 232, 216);
    padding: 15px 20px;
    display: block;
    margin: 0;
    transition: all 0.3s;
    border-radius: 20px;
}

.navbar ul li:hover a {
    background:rgb(244, 0, 252);
    
}

.navbar ul ul {
    position:absolute;
    padding: 0;
    min-width: 160px;
    display: none;
    top: 100%;
    z-index: 2;
    margin: 0;
    transition: all 0.3s;
}

.navbar .dropdown ul li a {
    background-color: blue;
}

.navbar ul li:hover > ul {
    display: block;
}

.kitty {
    font-size: 14px;
}

/*navbar ends*/

.container {
    position: relative;
    text-align: center;
}

.title {
    position: absolute;
    top: 45%;
    left: 27%;
    /*transform: translate(-50%, -50%);*/

    /*animation*/
    animation: grow 2s ease-in-out infinite,
        colorize 2s infinite;
    /*animation: drop 2s infinite,;
        grow 2s 4s ease infinite,
        colorize 1s infinite;*/
}

@keyframes grow {
    0% {
        transform: scale(1);
    }
    40% {
        transform: scale(2);
    }
}

@keyframes colorize {
    0% {
        color:aqua;
        -webkit-text-stroke: 1px rgb(234, 89, 250);
    }

    50% {
        color:rgb(244, 0, 252);
        -webkit-text-stroke: 1px rgb(111, 5, 249);
    }
}

/*@keyframes drop {
    0% {
        top: 0;
    }
    100% {
        top: 300px;
    }
}*/

@media (min-width:900px) {
    .background {
        width:75%;
    }
}

@media only screen and (min-width: 1400px) {
    .background {
        width: 83%;
        
        z-index: 1;
        /*margin: 0 0 0 5%;*/
    }

    h1 {
        font-size: 100px;
    }
/*navbar starts*/
    /*a {
        background-color: rgba(252, 0, 172, 0);
        padding: 10px;
    }
    
    a:hover {
        background-color: rgb(252, 0, 172);
        border-radius: 20px;
        padding: 10px;
    }
    
    ul li a{
        text-decoration: none;
        color: rgb(134, 232, 216);
    }
        
    ul {
        list-style-type: none;
        background-color: rgb(176, 99, 224);
        padding: 20px;
        margin: 0 0 10px 0;
    }*/
/*navbar ends*/
}